<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div *ngIf="currentSession != null">
    

            <sub-header [title]="currentSession.quiz.quizTitle" [description]="currentSession.quiz.quizTitle">
                <!-- Part {{currentSession.progress+1}} -->


            </sub-header>
  
    </div>
     
    <div *ngIf="currentSession == null">
            <sub-header [title]="'Lesson Room'">

            </sub-header>

        </div>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <tabset [justified]="true" #quizTabs>
                                <!-- <tab id="start" disabled="true">
                                <ng-template tabHeading>
                                    <div class="defaultTab">
                                        <button class="defaultNavButton" (click)="startTabSelected()">
                                            <span class="flaticon-buildings"><h5>Start</h5></span>                                           
                                        </button>
                                    </div>                                 
                                </ng-template>                                                               
                            </tab> -->

                                <ng-template *ngIf="quizAborted || quizFinished; then emptyTabs; else quizTabsTemplate"></ng-template>

                                <ng-template #emptyTabs>
                                    <tab *ngFor="let tab of tabsData; index as i;" [disabled]="tab.disabled"
                                        [id]="tab.id" [active]="tab.active">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <ng-template *ngIf="tab.video; then thenBlock; else elseBlock"></ng-template>
                                                <ng-template #thenBlock>
                                                    <ng-template tabHeading>
                                                        <div class={{tab.stylingClass}}>
                                                            <h4>
                                                                <span class="flaticon-medical"></span>
                                                                {{tab.heading}}
                                                                <span class="flaticon-lock customClass"
                                                                    *ngIf="tab.disabled"></span>
                                                                <span class="flaticon-trophy"
                                                                    *ngIf="tab.finished"></span>
                                                            </h4>
                                                        </div>
                                                    </ng-template>
                                                </ng-template>

                                                <ng-template #elseBlock>
                                                    <ng-template tabHeading>
                                                        <div class={{tab.stylingClass}}>
                                                            <h4>
                                                                <span class="flaticon-edit"></span>
                                                                {{tab.heading}}
                                                                <span class="flaticon-lock customClass"
                                                                    *ngIf="tab.disabled"></span>
                                                                <span class="flaticon-trophy"
                                                                    *ngIf="tab.finished"></span>
                                                            </h4>
                                                        </div>
                                                    </ng-template>
                                                </ng-template>

                                            </div>
                                        </div>
                                    </tab>

                                    <ng-template *ngIf="quizFinished; then finishedPage; else closedPage"></ng-template>
                                    <ng-template #finishedPage>
                                        <finishedTab (loadQuiz)=onContinueLesson()
                                            [currentLesson]=currentSession.predefindedQuizId></finishedTab>
                                    </ng-template>
                                    <ng-template #closedPage>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <closedTab [aborted]=quizAborted [quizParts]=sheetNumber
                                                    (quizMayStart)=onQuizStart($event)>
                                                </closedTab>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-template>

                                <ng-template #quizTabsTemplate>
                                    <tab *ngFor="let tab of tabsData; index as i;" [disabled]="tab.disabled"
                                        [id]="tab.id" [active]="tab.active" (selectTab)="onSelect($event)">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <span>Lesson room closes at {{closingTime.format("HH.mm")}} </span>
                                            </div>

                                            <div class="col-sm-6">
                                                <span>Mandatory minimum time for this part:
                                                    {{tab.mandatoryTime}} minutes </span>
                                            </div>
                                            <div class="col-sm-12">
                                                <h3 class="m-portlet__head-text">
                                                    {{tab.title}}
                                                </h3>
                                                <hr class="ng-tns-c19-1">
                                            </div>
                                        </div>
                                        <div class="m--space-10"></div>

                                        <div class="row">
                                            <div class="col-sm-12">

                                                <ng-template *ngIf="tab.video; then thenBlock; else elseBlock"></ng-template>
                                                <ng-template #thenBlock>
                                                    <ng-template tabHeading>
                                                        <div class={{tab.stylingClass}}>
                                                            <h4>
                                                                <span class="flaticon-medical"></span>
                                                                {{tab.heading}}
                                                                <span class="flaticon-lock customClass"
                                                                    *ngIf="tab.disabled"></span>
                                                                <span class="flaticon-trophy"
                                                                    *ngIf="tab.finished"></span>
                                                            </h4>
                                                        </div>
                                                    </ng-template>

                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item"
                                                            [src]="tab.video | safeUrl" frameborder='0' allowfullscreen>
                                                        </iframe>
                                                    </div>
                                                </ng-template>

                                                <ng-template #elseBlock>
                                                    <ng-template tabHeading>
                                                        <div class={{tab.stylingClass}}>
                                                            <h4>
                                                                <span class="flaticon-edit"></span>
                                                                {{tab.heading}}
                                                                <span class="flaticon-lock customClass"
                                                                    *ngIf="tab.disabled"></span>
                                                                <span class="flaticon-trophy"
                                                                    *ngIf="tab.finished"></span>
                                                            </h4>
                                                        </div>
                                                    </ng-template>
                                                    <question *ngFor="let question of tab.content" #questions
                                                        [quest]="question.quest" [nr]="question.nr"
                                                        [answerOptions]="question.answerOptions"
                                                        [correctAnswer]="question.correctAnswer"
                                                        [pictureUrl]="question.pictureUrl"
                                                        (valueSelected)="onValueSelected($event)">
                                                    </question>
                                                </ng-template>

                                                <p-messages [(value)]="messages" [closable]="true"></p-messages>
                                            </div>
                                        </div>

                                        <div class="row justify-content-md-center">
                                            <div class="col-md-auto">
                                                <button *ngIf="!quizAborted && !quizFinished" type="button"
                                                    (click)="updateQuizProgress()" class="btn btn-primary mr-5"> Save
                                                </button>
                                            </div>
                                        </div>
                                    </tab>
                                </ng-template>

                                <!-- <tab *ngFor="let tab of tabsData; index as i;" [disabled]="tab.disabled" [id]="tab.id"
                                [active]="tab.active" (selectTab)="onSelect($event)">
                                                                     
                                <div class="row" *ngIf="!isClosed && !quizAborted && !quizFinished">
                                    <div class="col-sm-6">
                                        <span>Lesson room closes at {{closingTime.format("HH.ss")}} </span>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <span>Mandatory minimum time for this part:
                                            {{getTimeInMinutes(tab.mandatoryTime)}} </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <h3 class="m-portlet__head-text">
                                            {{tab.title}}
                                        </h3>  
                                        <hr class="ng-tns-c19-1">           
                                    </div>       
                                </div>
                                <div class="m--space-10"></div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        <div *ngIf="tab.video; then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock>
                                            <ng-template tabHeading>
                                                <div class={{tab.stylingClass}}>
                                                    <h4>
                                                        <span class="flaticon-medical"></span>
                                                        {{tab.heading}}
                                                        <span class="flaticon-lock customClass" *ngIf="tab.disabled"></span>
                                                        <span class="flaticon-trophy" *ngIf="tab.finished"></span>
                                                    </h4>  
                                                </div>
                                            </ng-template>

                                            <div *ngIf="isClosed || quizAborted; then closedBlock else quizBlock"></div>
                                            <ng-template #closedBlock>
                                                <closedTab                                
                                                    [closed] = isClosed
                                                    [closingTime] = closingTime
                                                    [aborted] = quizAborted
                                                    (abortedChanged) = onAbortedChanged($event)>
                                                </closedTab>                                               
                                            </ng-template>
                                            <ng-template #quizBlock> 
                                                <div *ngIf="quizFinished; then finishedPage else quizPage"></div> 
                                                    <ng-template #finishedPage>
                                                        <finishedTab (loadQuiz) = onContinueLesson()></finishedTab>
                                                    </ng-template>
                                                    <ng-template #quizPage>
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item"
                                                                [src]="tab.video | safeUrl"
                                                                frameborder='0'
                                                                allowfullscreen>
                                                            </iframe>      
                                                        </div>     
                                                    </ng-template>                                                                                                                                                                                                              
                                            </ng-template>                  
                                        </ng-template>

                                        <ng-template #elseBlock>
                                            <ng-template tabHeading>
                                                <div class={{tab.stylingClass}}>      
                                                    <h4>
                                                        <span class="flaticon-edit"></span>
                                                        {{tab.heading}}
                                                        <span class="flaticon-lock customClass" *ngIf="tab.disabled"></span>
                                                        <span class="flaticon-trophy" *ngIf="tab.finished"></span>
                                                    </h4>                                                   
                                                </div>
                                            </ng-template>

                                            <div *ngIf="isClosed || quizAborted; then closedBlock else quizBlock"></div>
                                            <ng-template #closedBlock>
                                                <closedTab                         
                                                    [closed] = isClosed 
                                                    [closingTime] = closingTime
                                                    [aborted] = quizAborted
                                                    (abortedChanged) = onAbortedChanged($event)>
                                                </closedTab>                   
                                            </ng-template>
                                            <ng-template #quizBlock>
                                                <div *ngIf="quizFinished; then finishedPage else quizPage"></div> 
                                                <ng-template #finishedPage>
                                                    <finishedTab (loadQuiz) = onContinueLesson()></finishedTab>
                                                </ng-template>
                                                <ng-template #quizPage>
                                                    <question *ngFor="let question of tab.content" 
                                                        #questions                         
                                                        [quest]="question.quest"
                                                        [nr]="question.nr" 
                                                        [answerOptions]="question.answerOptions"
                                                        [correctAnswer]="question.correctAnswer" 
                                                        [pictureUrl]="question.pictureUrl"
                                                        (valueSelected)="onValueSelected($event)">
                                                    </question>
                                                </ng-template>
                                            </ng-template>
                                        </ng-template>
                                    
                                        <button *ngIf="!quizAborted && !quizFinished" pButton type="button" 
                                            label="Save" 
                                            (click)="updateQuiz()"
                                            class="ui-button-raised">
                                        </button>
                                        <p-messages [(value)]="messages" [closable]="true"></p-messages>
                                    </div>
                                </div>                               
                            </tab> -->

                                <tab id="cancel" disabled="true">
                                    <ng-template tabHeading>
                                        <ng-template *ngIf="quizAborted; then homeBlock; else cancelBlock"></ng-template>
                                        <ng-template #homeBlock>
                                        </ng-template>
                                        <ng-template #cancelBlock>
                                            <button class="cancelNavButton" (click)="cancelTabSelected()">
                                                <span class="flaticon-cancel"></span>
                                                <h6>Cancel</h6>
                                            </button>
                                        </ng-template>
                                    </ng-template>
                                </tab>

                            </tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>