<div [@routerTransition]>

        <div class="content d-flex flex-column flex-column-fluid">
            <sub-header [title]="l('Courses')" [description]="'Improve your knowledge'">
    

    
            </sub-header>

           <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                        <div class="m-portlet__head-title">
                            <h5 class="m-portlet__head-text">
                                Quiz                           
                            </h5>
                        </div>

                        <button pButton type="button" label="Quiz" routerLink="/app/main/studentsView/theoryCourse/quiz" class="ui-button-raised"></button>                       
                </div>
            </div>
        </div>
</div> 
 </div>