<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Learning Path')" [description]="l('Overview')">
        </sub-header>
     <!--   <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h3 class="m-portlet__head-text">
                                Welcome to Drima learning path. Chose your learning unit
                            </h3>
                        </div>
                        <div class="row">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <hr class="ng-tns-c19-1">
                        
                        <div class="row">
                            <div class="container" *ngFor="let unit of learningUnits; index as i;">  
                                <div class="row">                         
                                    <div class="col-1">
                                        
                                        <hr class="ng-tns-c19-1" width="1" size="10">
                                    </div>
                                    <div class="col-1">

                                    </div>
                                                                              
                                    <div class="col-10">
                                        
                                        {{unit.title}} {{unit.description}}
                                        
                                        <button class="btn btn-primary mr-5" type="button" >                     
                                            View               
                                        </button>
 
                                        <button class="btn btn-primary mr-5" type="button" >                     
                                            Test               
                                        </button>
                                    </div>
                                </div> 
                            </div>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>