<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.predefinedDrivingLesson.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Number")}} :</h6>
                        {{ item.predefinedDrivingLesson.number }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LessonIdString")}} :</h6>
                        {{ item.predefinedDrivingLesson.lessonIdString }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Length")}} :</h6>
                        {{ item.predefinedDrivingLesson.length }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequiredForClasses")}} :</h6>
                        {{ item.predefinedDrivingLesson.requiredForClasses }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("NotRequiredIfClasses")}} :</h6>
                        {{ item.predefinedDrivingLesson.notRequiredIfClasses }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CanBeDoneOnSimulator")}} :</h6>
                        {{ item.predefinedDrivingLesson.canBeDoneOnSimulator }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SimulatorModuleIdentifier")}} :</h6>
                        {{ item.predefinedDrivingLesson.simulatorModuleIdentifier }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
