<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('OverviewTEP')" [description]="l('SubHeaderTEP')">
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="container" [busyIf]="loading">
                        <div class="row justify-content-center">
                            <h3 class="m-portlet__head-text">
                                {{l("WelcomeTEP")}}
                            </h3>
                        </div>
                        <div class="row my-10">
                            <h5>
                                {{l("SecondaryWelcomeTEP")}}
                            </h5>
                        </div>

                        <hr class="ng-tns-c19-1">

                        <div class="row" *ngIf="licenseClasses">
                            <div class="col-sm-3 mb-2" *ngFor="let license of licenseClasses; index as i;">
                                <div class="card">
                                    <img src={{license.pictureUrl}} class="card-image">
                                    <div class="card-header">

                                        <div class="text-uppercase" style="text-align:center;">
                                            <h2>{{license.token}}</h2>
                                        </div>
                                        <div style="text-align:center;">{{license.name}}</div>

                                        <button type="button" class="btn btn-primary btn-block"
                                            (click)="selectLicencseClass(i)"
                                            routerLink="/app/main/studentsView/theoryPractice/licenseClassTasksOverview">
                                            {{l("Open")}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container" [busyIf]="loading">
                        <div class="row justify-content-center">
                            <h3 class="m-portlet__head-text">
                                Welcome to Drima learning path. Chose your learning unit
                            </h3>
                        </div>
                        
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="currentProgress">                      
                            <span>{{currentProgress}}%</span>
                            </div>
                        </div>
                        

                        <hr class="ng-tns-c19-1">
                        
                        <div class="row">
                            <div class="col-3"> steps</div>
                            <div class="col-9">
                                <div class="container" *ngFor="let unit of learningUnity; index as i;">
                                    <div class="card">                      
                                        <div class="card-header">
                                      
                                            <h3>{{unit.title}}</h3>
                                            
                                            <div style="text-align:center;">{{license.name}}</div>
    
                                            <button type="button" class="btn btn-primary">
                                                Detail View
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                Test
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Steps component here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>