<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('OverviewTEP')">
            <div role="actions" *ngIf="currentLicenseClass">
                {{currentLicenseClass.token}} - {{currentLicenseClass.name}}
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="container" *ngIf="currentLicenseClass">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <tabset>
                                    <tab id="home">
                                        <ng-template tabHeading>
                                            <h6 class="flaticon-buildings"></h6>
                                        </ng-template>
                                        <div [class]="containerClass">
                                            <div class="row justify-content-center">
                                                <div class="col-sm-2 my-10">
                                                    <img src="https://image.flaticon.com/icons/svg/84/84380.svg"
                                                        style="max-width:150px; height:auto; width:100%;">
                                                </div>

                                                <div class="col-sm-10 my-10">
                                                    <div>
                                                        <h5>{{(l("WelcomeExercises"))}} {{currentLicenseClass.name}} .</h5>
                                                        <span>{{l("SecondaryWelcomeExercises")}}</span>
                                                        <span *ngIf="!currentLicenseClass.includePictureTasks">{{l("InstructionTEPExam12")}}</span>
                                                    </div>
                                                    <div *ngIf="currentLicenseClass.vehicleDimensions" class="mt-3">
                                                        <dimensionInfo [dimension]=currentLicenseClass.vehicleDimensions
                                                            [classToken]="currentLicenseClass.token"></dimensionInfo>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab id="trafficSituations">
                                        <ng-template tabHeading>
                                            <h6>{{l("TrafficSituations")}}</h6>
                                        </ng-template>
                                        <div class="container">
                                            <div class="row mt-2">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-secondary" role="alert">
                                                        <span>{{l("InfoGeneral")}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-4 mt-1">
                                                <div class="col-sm-4">
                                                    {{l("CanDriveStraight")}}
                                                </div>

                                                <div class="col" *ngFor="let series of driveStraightSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 1" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 1" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("CanTurnRight")}}
                                                </div>
                                                <div class="col" *ngFor="let series of turnRightSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 2" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 2" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("CanTurnLeft")}}
                                                </div>
                                                <div class="col" *ngFor="let series of turnLeftSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 3" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 3" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("GiveWayStraight")}}
                                                </div>
                                                <div class="col" *ngFor="let series of giveWayStraightSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 4" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 4" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("GiveWayRight")}}
                                                </div>
                                                <div class="col" *ngFor="let series of giveWayRightSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 5" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 5" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("GiveWayLeft")}}
                                                </div>
                                                <div class="col" *ngFor="let series of giveWayLeftSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 6" type="button"
                                                            class="btn btn-success btn-sm mb-1"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 6" type="button"
                                                            class="btn btn-danger btn-sm mb-1"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("CanPassing")}}                                               
                                                </div>
                                                <div class="col" *ngFor="let series of passingSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 7" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 7" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("CanChange")}}
                                                </div>
                                                <div class="col" *ngFor="let series of changeLaneSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 8" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 8" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row mb-4 justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("HaveToStop")}}
                                                </div>
                                                <div class="col" *ngFor="let series of stopSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 9" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 9" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-sm-4">
                                                    {{l("ParkedCorrectly")}}
                                                </div>
                                                <div class="col" *ngFor="let series of parkedSeries">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button *ngIf="series.groupId == 10" type="button"
                                                            class="btn btn-success btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button *ngIf="series.groupId == 10" type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="startSelectedQuiz(series.id)">{{series.groupName}}</button>
                                                    </ng-template>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab id="classQuestions">
                                        <ng-template tabHeading>
                                            <h6>{{l("Classquestions")}}</h6>
                                        </ng-template>
                                        <div *ngIf="classQuestionSeries" class="container">
                                            <div class="row mt-2">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-secondary" role="alert">
                                                        <span>{{l("InfoGeneral")}}.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div *ngFor="let series of classQuestionSeries; index as i;">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <ng-template #successBtn>
                                                        <button type="button"
                                                            class="btn btn-success btn-sm mr-2 ml-2 mt-1 mb-1"
                                                            (click)="startSelectedQuiz(series.id)">{{i+1}}</button>
                                                    </ng-template>
                                                    <ng-template #dangerBtn>
                                                        <button type="button"
                                                            class="btn btn-danger btn-sm mr-2 ml-2 mt-1 mb-1"
                                                            (click)="startSelectedQuiz(series.id)">{{i+1}}</button>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab id="trafficSigns">
                                        <ng-template tabHeading>
                                            <h6>{{l("TrafficSigns")}}</h6>
                                        </ng-template>
                                        <div *ngIf="trafficSignQuestionSeries" class="container">
                                            <div class="row justify-content-center mt-2">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-secondary" role="alert">
                                                        <span> {{l("InfoTSQ")}} </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row justify-content-center">

                                                <div *ngFor="let series of trafficSignQuestionSeries; index as i;">
                                                    <div *ngIf="series.finishedOnce; then successBtn else dangerBtn">
                                                    </div>
                                                    <div class="col">
                                                        <ng-template #successBtn>
                                                            <button type="button"
                                                                class="btn btn-success btn-sm mr-2 ml-2 mt-1 mb-1"
                                                                (click)="startSelectedQuiz(series.id)">{{i+1}}</button>
                                                        </ng-template>
                                                        <ng-template #dangerBtn>
                                                            <button type="button"
                                                                class="btn btn-danger btn-sm mr-2 ml-2 mt-1 mb-1"
                                                                (click)="startSelectedQuiz(series.id)">{{i+1}}</button>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab id="exam">
                                        <ng-template tabHeading>
                                            <h6><b>{{l("TheoryExam")}}</b></h6>

                                        </ng-template>
                                        <div [class]="containerClass" *ngIf="previewReceived">
                                            <div class="row justify-content-center mt-2">
                                                <div class="col-sm-2 my-10">
                                                    <img src="https://image.flaticon.com/icons/svg/84/84380.svg"
                                                        style="max-width:150px; height:auto; width:100%;">
                                                </div>

                                                <div class="col-sm-10 my-10">
                                                    <div>
                                                        <h2 class="mb-4">{{l("HeaderTEP1")}}</h2>
                                                        <div class="mb-2">
                                                            <span>{{l("WelcomeTEPExam")}}
                                                                {{currentLicenseClass.token}}!</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <span>{{l("InstructionTEPExam1")}}  ({{classQuestionCount}} {{l("PiecesShort")}}), 
                                                                {{l("InstructionTEPExam2")}} ({{riskIdentifyingQuestionCount}} {{l("PiecesShort")}}) 
                                                                {{l("InstructionTEPExam3")}} ({{trafficSituationQuestionCount}} {{l("PiecesShort")}}).</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <span>{{l("InstructionTEPExam4")}}</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <span>{{l("InstructionTEPExam5")}}</span>
                                                            <span> {{l("InstructionTEPExam6")}} {{duration}} {{l("InstructionTEPExam7")}}</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <span>{{l("InstructionTEPExam8")}} {{l("MaximumShort")}} {{errorsClassCount}} {{l("InstructionTEPExam9")}}, 
                                                                {{l("MaximumShort")}} {{errorsRiskIdentifyingCount}} {{l("InstructionTEPExam10")}}
                                                                {{l("MaximumShort")}} {{errorsTrafficSituationCount}} {{l("InstructionTEPExam11")}}.</span>
                                                        </div>

                                                        <div class="mb-2"
                                                            *ngIf="!currentLicenseClass.includePictureTasks">
                                                            <span>{{l("InstructionTEPExam12")}}</span>
                                                        </div>

                                                        <div *ngIf="currentLicenseClass.vehicleDimensions" class="mb-2">
                                                            <dimensionInfo
                                                                [dimension]="currentLicenseClass.vehicleDimensions"
                                                                [classToken]="currentLicenseClass.token">
                                                            </dimensionInfo>
                                                        </div>

                                                        <div>
                                                            <button type="button" class="btn btn-primary mr-5"
                                                                (click)="startTheoryExamSimulation()">
                                                                {{l("Start")}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>