<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('OverviewTEP')" [description]="l('SubHeaderTEP')">
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="container" [busyIf]="loading" *ngIf="helper.selectedCourse.allowTheoryExamPractice">
                        <div class="row justify-content-center">
                            <h3 class="m-portlet__head-text">
                                {{l("WelcomeTEP")}}
                            </h3>
                        </div>
                        <div class="row my-10">
                            <h5>
                                {{l("SecondaryWelcomeTEP")}}
                            </h5>
                        </div>

                        <hr class="ng-tns-c19-1">

                        <div class="row" *ngIf="licenseClasses">
                            <div class="col-sm-3 mb-2" *ngFor="let license of licenseClasses; index as i;">
                                <div class="card">
                                    <img src={{license.pictureUrl}} class="card-image">
                                    <div class="card-header">

                                        <div class="text-uppercase" style="text-align:center;">
                                            <h2>{{license.token}}</h2>
                                        </div>
                                        <div style="text-align:center;">{{license.name}}</div>

                                        <button type="button" class="btn btn-primary btn-block"
                                            (click)="selectLicencseClass(i)"
                                            routerLink="/app/main/studentsView/theoryPractice/licenseClassTasksOverview">
                                            {{l("Open")}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> 
                    <div class="container" [busyIf]="loading" *ngIf="!helper.selectedCourse.allowTheoryExamPractice">
                        <div class="alert alert-warning" role="alert">
                            {{l("StudentFeatureDisabledInfo")}}
                          </div>
                    </div>                 
                </div>
            </div>
        </div>

    </div>
</div>