<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="quizMainTitle" [description]="quizSubtitle">

         

        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">            
                <div class="container" *ngIf="currentQuizSession">                   
                    <div class="row justify-content-center">                   
                                                
                        <div class="col-sm-12"> 
                            <div *ngIf="!quizFinished; then quiz else results"></div> 
                            <ng-template #quiz>                                                      
                                <div class="row mb-3"> <!--Quiz State-->
                                    
                                    <div class="col-md-auto">  <!--Time Progress-->
                                        <h6>Time:</h6>
                                    </div> 
                                    <div class="col-1">
                                        <p class="text-right">{{timerMinutes}}:{{timerSeconds}}</p>
                                    </div> 
                                    <div class="col-10">                 
                                        <progressbar [max]="timerMax" [animate]="false" [value]="timerProgress" type={{progressBarType}}></progressbar>                              
                                    </div> 
                                    
                                    <div class="w-100"></div> <!--Force line break-->
                                    
                                    <div class="col-md-auto"> <!--Pagination-->
                                        <h6>Part:</h6>
                                    </div>
                                    <div class="col-1">
                                        <p class="text-right">{{currentQuizSession.selectedQuestion}}/{{currentQuizSession.quiz.length}}</p>          
                                    </div>
                                    <div class="col-10"> 
                                        
                                        <button *ngIf="showDirectionalLinks" class="defaultPageButton" (click)="onPreviousPageClicked()">Previous</button>
                                        <button 
                                            *ngFor="let b of questionPageButtons;index as i"
                                            (click) = "onPageClicked(i)"                                      
                                            class = {{b.class}}
                                            [disabled]="b.disabled">
                                            {{i+1}}
                                        </button> 
                                        <button *ngIf="showDirectionalLinks" class="defaultPageButton" (click)="onNextPageClicked()">Next</button>                                   
                                    </div> 

                                    <div class="w-100"></div>                                                  
                                    
                                    <div>                           
                                        <div class="col-md">                                                                  
                                            <div *ngIf="currentQuizSession.classInformations.vehicleDimensions && currentQuizSession.isMarkable" class="row">
                                                <dimensionInfo [dimension]="currentQuizSession.classInformations.vehicleDimensions" [classToken]="currentQuizSession.classInformations.token"></dimensionInfo>                                          
                                            </div>                                       
                                        </div>                           
                                    </div>
                                </div>

                                <hr class="ng-tns-c19-1"> 
                                                                                    
                                <div class="row mb-4 mt-2"><!--Questions-->
                                    <p-toast key="trafficSituationToast" position="center" closable="true" life="7000"></p-toast>
                                    <div class="col-sm-12">
                                        <h4 class="m-portlet__head-text mb-4" style="text-align:center;">
                                            {{currentQuizSession.quiz[questionContentIndex].quest}}
                                        </h4>
                                        <div *ngIf="currentQuizSession.quiz[questionContentIndex].displayType == 1; then pictureContainer else defaultContainer"></div>
                                        <ng-template #pictureContainer>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-4 mb-2" style="text-align:center;">   
                                                    <div>
                                                        <figure class="figure">
                                                            <img src={{currentQuizSession.quiz[questionContentIndex].answerOptions[0]}} 
                                                                class="figure-img img-fluid" 
                                                                style="max-width:128px; height:auto; width:100%;">       
                                                            <figcaption class="figure-caption text-center">Sign 1</figcaption>
                                                        </figure> 
                                                    </div>
                                                    <div>
                                                        <button #pic01 class="btn btn-secondary mr-5" (click)="setQuestionAnswerPictureButton(0)">                           
                                                            Select
                                                        </button>
                                                    </div>                                      
                                                </div>
                                                
                                                <div class="col-sm-4 mb-2" style="text-align:center;">
                                                    <div>
                                                        <figure class="figure">
                                                            <img src={{currentQuizSession.quiz[questionContentIndex].answerOptions[1]}} 
                                                                class="figure-img img-fluid" 
                                                                style="max-width:128px; height:auto; width:100%;">       
                                                            <figcaption class="figure-caption text-center">Sign 2</figcaption>
                                                        </figure>
                                                    </div>
                                                     <div>
                                                        <button #pic02 class="btn btn-secondary mr-5" (click)="setQuestionAnswerPictureButton(1)">                        
                                                            Select
                                                        </button>
                                                     </div>                          
                                                </div>
                                                
                                                <div class="col-sm-4 mb-2" style="text-align:center;">
                                                    <div>
                                                        <figure class="figure">
                                                            <img src={{currentQuizSession.quiz[questionContentIndex].answerOptions[2]}} 
                                                                class="figure-img img-fluid" 
                                                                style="max-width:128px; height:auto; width:100%;">       
                                                            <figcaption class="figure-caption text-center">Sign 3</figcaption>
                                                        </figure> 
                                                    </div>                        
                                                    <div>
                                                        <button #pic03 class="btn btn-secondary mr-5" (click)="setQuestionAnswerPictureButton(2)">                                                      
                                                            Select
                                                        </button>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template #defaultContainer>  
                                            
                                            <div *ngIf="currentQuizSession.quiz[questionContentIndex].displayType == 2; then selectContainer else singleChoiceContainer"></div>
                                            <ng-template #selectContainer>
                                                <div class="mb-3 mt-1">
                                                    <img src={{currentQuizSession.quiz[questionContentIndex].pictureUrl}} style="max-width:2000px; height:auto; width:100%;"> 
                                                </div> 
                                                <div class="row justify-content-center">
                                                    <p-selectButton [options]="selectOptions" [(ngModel)]="selectedOption" optionLabel="currentQuizSession.quiz[questionContentIndex].quest" (onChange)="setQuestionAnswerSelectButton($event)">
                                                        <ng-template let-item>
                                                            <img src={{item.value.value.url}} style="width:64px;height:64px; vertical-align: middle; margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px"/>
                                                            <span>{{item.name}}</span>
                                                        </ng-template>
                                                    </p-selectButton>
                                                </div>
                                            </ng-template>
                                            <ng-template #singleChoiceContainer>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="mb-3" *ngFor="let answer of currentQuizSession.quiz[questionContentIndex].answerOptions; index as i"> 
                                                                <p-radioButton                               
                                                                    value={{i}}                                         
                                                                    (click)="setQuestionAnswerRadioButton(i)"
                                                                    [(ngModel)]="selectedOption">
                                                                </p-radioButton>
                                                                <span> {{currentQuizSession.quiz[questionContentIndex].answerOptions[i]}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div *ngIf="currentQuizSession.quiz[questionContentIndex].pictureUrl">
                                                                <img  src={{currentQuizSession.quiz[questionContentIndex].pictureUrl}} 
                                                                    style="max-width:1028px; height:auto; width:100%;"> 
                                                            </div>
                                                            
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </ng-template>                                                    
                                        </ng-template>                                                                          
                                    </div>                  
                                </div>

                                <hr class="ng-tns-c19-1"> 
                                    
                                <div class="row"> <!--Quiz Buttons--> 
                                    <div class="col-6 mb-1">
                                        <h6 class="m-portlet__head-text" *ngIf="currentQuizSession.quiz[questionContentIndex].selectedAnswer > -1">
                                            Selected answer:  {{parsedAnswer}}
                                        </h6>
                                    </div>
                                    <div class="col-sm-4 mb-1">
                                        <button 
                                            *ngIf="currentQuizSession.isMarkable"
                                            class="btn btn-primary mr-5" type="button"
                                            (click)="markQuestion()">  
                                            Mark                 
                                        </button>                                                                      
                                        <button type="button" class="btn btn-primary mr-5"
                                            *ngIf="showDirectionalLinks"                      
                                            (click)="finishQuiz()">  
                                                Results                 
                                        </button>                                         
                                    </div>                                                                                                                              
                                    <div class="col-2 mb-1"> 
                                        <button type="button" class="btn btn-primary mr-5"
                                        [disabled]="!currentQuizSession.hasAnswer(questionContentIndex)"
                                        (click)="nextPage(false)">  
                                        Next                 
                                    </button>                  
                                    </div>                              
                                </div>
                            </ng-template>

                            <ng-template #results>
                                <results [evaluatedQuiz]="currentQuizSession.results"
                                    [showCategoryErrors]="theoryPracticeHelperService.quizMarkable"
                                    [maxErrorsLicenceClass]="currentQuizSession.maxErrorsLicenceClassQuestions"
                                    [maxErrorsSituation]="currentQuizSession.maxErrorsSituationQuestions"
                                    [maxErrorsRisk]="currentQuizSession.maxErrorsRiskQuestions">                   
                                </results>
                            </ng-template> 
                                                                                        
                        </div> 
                        
                    </div>                
                </div>
            </div>                             
        </div>
    </div>
</div>
</div>
