
<div class="row justify-content-center">
    <button class="btn btn-primary mr-5" type="button"   
    routerLink="/app/main/studentsView/theoryPractice/licenseClassTasksOverview">  
    Back to overview                 
    </button>
</div>

<h4 class="m-portlet__head-text">
    Number of correct answers:
</h4>

<div *ngIf="showCategoryErrors">
    <h6 class="m-portlet__head-text">
        Licence Class Questions: {{evaluatedQuiz.correctLicenceClassQuestions}} / {{evaluatedQuiz.totalLicenceClassQuestions}}
    </h6>

    <h6 class="m-portlet__head-text">
        Traffic Situation questions: {{evaluatedQuiz.correctSituationQuestions}} / {{evaluatedQuiz.totalSituationQuestions}}
    </h6>

    <h6 class="m-portlet__head-text">
        Risk identifying questions: {{evaluatedQuiz.correctRiskQuestions}} / {{evaluatedQuiz.totalRiskQuestions}}
    </h6>
</div>

<h6 class="m-portlet__head-text font-weight-bold">
    Total: {{evaluatedQuiz.correctAnswersTotal}} / {{evaluatedQuiz.questionsTotal}}
</h6>

<div class="container" *ngIf="showCategoryErrors">
    <div class="row">
        <div class="col">    
            <p-messages [value]="overallResult" [closable]="false"></p-messages>         
        </div>
        <div class="col"></div>     
    </div>
</div>

<div *ngIf="showCategoryErrors && !evaluatedQuiz.quizPassed">
    <h6 class="m-portlet__head-text text-danger">
        Max error for license class questions is: {{maxErrorsLicenceClass}}
    </h6>

    <h6 class="m-portlet__head-text text-danger">
        Max errors for situation questions is: {{maxErrorsSituation}}
    </h6>

    <h6 class="m-portlet__head-text text-danger">
        Max errors for max questions is:  {{maxErrorsRisk}}
    </h6>
</div>

<div *ngIf="evaluatedQuiz.incorrectQuestions">
    <hr style="height:2px;border-width:10;color:gray;background-color:gray">

    <h2 class="m-portlet__head-text mb-2" style="text-align:center;">
        Feedback
    </h2>

    <p-scrollPanel [style]="{width: '100%', height: '650px'}" refresh>
        <div *ngFor="let question of evaluatedQuiz.incorrectQuestions">

            <h4 class="m-portlet__head-text"> <!--Question-->
            {{question.quest}}
            </h4>
        
            <div class="mb-2" [ngSwitch]="question.displayType"> <!--Correct result and hint-->
                <div *ngSwitchCase="0"> <!--Single Choice Question-->
                    <div class="row">
                        <div class="col-sm-6">                    
                            <div *ngFor="let answer of question.answerOptions; index as j">
                                <div *ngIf="j == question.correctAnswer; then correctText else defaultText"></div>           
                                <ng-template #correctText>
                                    <h6 class="m-portlet__head-text text-success font-weight-bold">
                                        {{j+1}}. {{question.answerOptions[j]}}
                                    </h6>                            
                                </ng-template>
                                <ng-template #defaultText>                       
                                    <h6 class="m-portlet__head-text">
                                        {{j+1}}. {{question.answerOptions[j]}}
                                    </h6>   
                                </ng-template>
                            </div>
                            <div *ngIf="question.selectedAnswer > -1; then answer else empty"></div> <!--User selection-->
                            <ng-template #answer> 
                                <h6 class="m-portlet__head-text text-danger">
                                    You answered: {{question.selectedAnswer+1}}. {{question.answerOptions[question.selectedAnswer]}}
                                </h6>       
                            </ng-template>
                            <ng-template #empty>
                                <h6 class="m-portlet__head-text text-danger">
                                    You didn't answer this question.
                                </h6>
                            </ng-template>
                        </div>
                        <div class="col-sm-6">
                            <div *ngIf="question.pictureUrl">
                                <img src={{question.pictureUrl}} style="max-width:500px; height:auto; width:100%;"> 
                            </div>
                            <div *ngIf="question.hint"> 
                                <h6 class="m-portlet__head-text">
                                    Hint: {{question.hint}}
                                </h6>
                            </div>                   
                        </div>
                    </div>    
                </div>
                <div *ngSwitchCase="1"> <!--Picture Choice Question-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <div *ngFor="let answer of question.answerOptions; index as i" class="col-sm-4 mb-2">
                                    <div *ngIf="i == question.correctAnswer; then correctFigure else defaultFigure"></div>
                                    <ng-template #correctFigure>                 
                                        <figure class="figure">
                                            <img src={{answer}} class="figure-img img-fluid correctResultBorder" style="max-width:128px; height:auto; width:100%;">       
                                            <figcaption class="figure-caption text-success">Sign {{i+1}}</figcaption>
                                        </figure>  
                                    </ng-template>
                                    <ng-template #defaultFigure> 
                                        <figure class="figure">
                                            <img src={{answer}} class="figure-img img-fluid" style="max-width:128px; height:auto; width:100%;">       
                                            <figcaption class="figure-caption">Sign {{i+1}}</figcaption>
                                        </figure>
                                    </ng-template>
                                </div> 
                            </div>
                                       
                            <div *ngIf="question.selectedAnswer > -1; then answer else empty"></div> <!--User selection-->
                            <ng-template #answer>
                                <h6 class="m-portlet__head-text text-danger">
                                    You answered: Sign {{question.selectedAnswer+1}}.
                                </h6>              
                            </ng-template>
                            <ng-template #empty>
                                <h6 class="m-portlet__head-text text-danger">
                                    You didn't answer this question.
                                </h6>
                            </ng-template>
                        </div>           
                    </div>                      
                </div>
                <div *ngSwitchCase="2">  <!--Binary Choice Question-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <h6 class="m-portlet__head-text">
                                    Correct answer: {{question.answerOptions[question.correctAnswer]}}
                                </h6>
                            </div>
                            <div *ngIf="question.selectedAnswer > -1; then answer else empty"></div> <!--User selection-->
                            <ng-template #answer>                                               
                                <h6 class="m-portlet__head-text text-danger">
                                    You answered: {{question.answerOptions[question.selectedAnswer]}}
                                </h6>            
                            </ng-template>
                            <ng-template #empty>
                                <h6 class="m-portlet__head-text text-danger">
                                    You didn't answer this question.
                                </h6>
                            </ng-template>
                            <div *ngIf="question.hint"> 
                                <h6 class="m-portlet__head-text">
                                    Hint: {{question.hint}}
                                </h6>
                            </div> 
                            <div *ngIf="question.pictureUrl">
                                <img src={{question.pictureUrl}} style="max-width:2500px; height:auto; width:100%;"> 
                            </div>
                            
                        </div>                                
                    </div>  
                </div>         
            </div>
            
            <hr style="height:2px;border-width:10;color:gray;background-color:gray">   
        </div>
    </p-scrollPanel>
</div>