<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('OverviewTEP')" [description]="l('TheoryPracticeInfo')">

          not in use

        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">      
                <button type="button" class="btn btn-primary mr-5" routerLink="/app/main/studentsView/theoryPractice/licenseClassSelection">
                    {{l("TheoryExamPracticeTool")}}
                </button>

            </div>
        </div>
    </div>
      
    </div>
</div>