<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="row justify-content-center my-30">
                <i class="far fa-thumbs-down fa-10x"></i>
            </div>
            <div class="row justify-content-center my-5">
                <h1>{{state}}</h1>
            </div>
          

            <div class="row justify-content-center my-20">
                <h4>You will be redirected to your invoices in {{timeLeft}}</h4>
            </div>
        </div>
    </div>
</div>