<div [@routerTransition]>
    <div class="container">
        <div class="row align-items-start">


            <div class="col-12 mt-20">
                <div class="card card-custom gutter-b shadow-lg">
                    <div class="card-body">
                        <!--begin: Wizard -->
                        <div #wizard class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first"
                            data-wizard-clickable="true">
                            <!--begin: Form Wizard Nav -->
                            <div class="wizard-nav border-bottom">
                                <div class="wizard-steps p-8 p-lg-10">
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step"
                                        data-wizard-state="current">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-car"></i>
                                            <h3 class="wizard-title">
                                                {{l("LicenseClass")}}
                                            </h3>
                                        </div>
                                    </a>
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-interface-5"></i>
                                            <h3 class="wizard-title">
                                                {{l("OwnedLicenses")}}
                                            </h3>
                                        </div>
                                    </a>
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-bus-stop"></i>
                                            <h3 class="wizard-title">
                                                {{l("ChooseOffice")}}
                                            </h3>
                                        </div>
                                    </a>
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-responsive"></i>
                                            <h3 class="wizard-title">
                                                {{l("ChooseCourse")}}
                                            </h3>
                                        </div>
                                    </a>
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-globe"></i>
                                            <h3 class="wizard-title">
                                                {{l("ChoosePricePackage")}}
                                            </h3>
                                        </div>
                                    </a>
                                    <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <i class="wizard-icon flaticon-list"></i>
                                            <h3 class="wizard-title">
                                                {{l("PersonalData")}}
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end: Form Wizard Nav -->
                            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                                <div class="col-xl-12">
                                    <!--begin: Form Wizard Form-->
                                    <form class="form" id="kt_form">
                                        <!--begin: Form Wizard Step 1-->
                                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <h3 class="text-center mb-10">  {{l("Enrollment_LicenseQuestion")}}
                                            </h3>
                                            <div *ngIf="licenseClasses != undefined" class="container">
                                           
                                                    <div class="card-deck justify-content-center my-10">


                                                        <div class="card text-center m-3" style="min-width: 200px; max-width: 300px;"
                                                            *ngFor="let licenseClass of licenseClasses.licenseClasses;  let i = index">
                                                            <img class="card-img-top"
                                                                src="{{licenseClass.symbolImageUrl}}"
                                                                alt="Card image cap">
                                                            <div class="card-body">
                                                                <h5 class="card-title">{{l('Class')}}
                                                                    {{licenseClass.licenseClass}}</h5>
                                                                <ul class="list-group list-group-flush mb-1"
                                                                    *ngIf="licenseClass.description">
                                                                    <li class="list-group-item">
                                                                        {{licenseClass.description}}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="card-footer">
                                                                <button class="btn btn-primary"
                                                                    data-wizard-type="action-next"
                                                                    (click)="classToAcquireSelected(licenseClass.licenseClass)">
                                                                    {{l('Select')}}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                              
                                            </div>

                                        </div>
                                        <!--end: Form Wizard Step 1-->

                                        <!--begin: Form Wizard Step 2-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h3 class="text-center mb-10"> {{l('Enrollment_OwnedLicenseQuestion')}}</h3>
                                                <div class="text-center">
                                            <div class="form-group">
                                                <button
                                                    class="btn btn-success"
                                                    (click)="classesAlreadyOwnedSelected()">
                                                    {{l('Enrollment_NoLicenseOwned')}}
                                                </button>
                                            </div>
                                        </div>
                                            <div class="form-group">

                                                <div *ngIf="licenseClassesOwned != undefined" class="container my-5">
                                                  
                                                        <div class="card-deck justify-content-center my-10">


                                                            <div class="card text-center m-3" style="min-width: 200px; max-width: 300px;"
                                                                *ngFor="let licenseClassOwned of licenseClassesOwned.licenseClasses;  let i = index">
                                                                <img class="card-img-top"
                                                                    src="{{licenseClassOwned.symbolImageUrl}}"
                                                                    alt="Card image cap">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">{{l('Class')}}
                                                                        {{licenseClassOwned.licenseClass}}
                                                                    </h5>
                                                                    <ul class="list-group list-group-flush mb-1"
                                                                        *ngIf="licenseClassOwned.description">
                                                                        <li class="list-group-item">
                                                                            {{licenseClassOwned.description}}
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <label class="checkbox mt-3">
                                                                        <input type="checkbox" name="licenseClassOwned"
                                                                            (change)="previousClassChecked(licenseClassOwned.licenseClass, $event)">
                                                                        <span></span>
                                                                        {{l('Enrollment_IHaveThisLicense')}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                  
                                                </div>

                                            </div>
                                            <div class="text-center">
                                            <div class="form-group">
                                                <button
                                                    [hidden]="previousClasses.length == 0"
                                                    class="btn btn-primary"
                                                    (click)="classesAlreadyOwnedSelected()">
                                                    {{l('Next')}}
                                                </button>
                                            </div>   </div>
                                        </div>
                                        <!--end: Form Wizard Step 2-->

                                        <!--begin: Form Wizard Step 3-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h3 class="text-center mb-10">  {{l('Enrollment_Office')}}</h3>
                                            <div *ngIf="offices != undefined" class="container">
                                               
                                                    <div class="card-deck justify-content-center">
                        
                        
                                                        <div class="card text-center m-3" style="min-width: 200px; max-width: 300px;" *ngFor="let location of offices.offices;  let i = index">
                                                            <img class="card-img-top" src="assets/symbols/office.png" alt="Card image cap">
                                                            <div class="card-body">
                                                                <h5 class="card-title"> {{location.officeName}}</h5>
                                                                <ul class="list-group list-group-flush mb-1">
                                                                    <li class="list-group-item">{{location.address}}
                                                                    </li>
                                                                </ul>
                        
                                                            </div>
                                                            <div class="card-footer">
                                                                <button
                                                                    class="btn btn-primary"
                                                                    (click)="officeSelected(location.officeId)">
                                                                    {{l('Select')}}
                                                                </button>
                                                            </div>
                                                        </div>
                        
                        
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <!--end: Form Wizard Step 3-->

                                        <!--begin: Form Wizard Step 4-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h3 class="text-center mb-10">{{l('Enrollment_Course')}}
                                            </h3>
                                            <div *ngIf="courses != undefined" class="container">
                                  
                                                    <div class="card-deck justify-content-center my-10">


                                                        <div class="card text-center m-3" style="min-width: 200px; max-width: 300px;" *ngFor="let course of courses.courses;  let i = index">
                                                            <img class="card-img-top" src="assets/symbols/course.png" alt="Card image cap">
                                                            <div class="card-body">
                                                                <!-- <h5 class="card-title"> {{course.courseName}}</h5>
                                                                    <p class="card-text" style="max-width: 18rem;"> {{course.class}}</p>
                                                                    <p class="card-text" style="max-width: 18rem;"> {{course.description}} </p>
                                                                    <p class="card-text" style="max-width: 18rem;"> {{course.priceDescription}}</p> -->
                                                                <h5 class="card-title"> {{course.courseName}}</h5>
                                                                <ul class="list-group list-group-flush mb-1">
                                                                    <li class="list-group-item">{{l('LicenseClass')}}: {{course.class}}
                                                                    </li>
                                                                    <li class="list-group-item">{{course.description}}</li>
                                                                    <li class="list-group-item">{{course.priceDescription}}</li>
                                                                </ul>
                        
                                                            </div>
                                                            <div class="card-footer">
                                                                <button
                                                                    class="btn btn-primary"
                                                                    (click)="courseSelected(course.courseId)">
                                                                    {{l('Select')}}
                                                                </button>
                                                            </div>
                                                        </div>
                        
                        
                                                    </div>
                                               
                                            </div>
                                        </div>
                                        <!--end: Form Wizard Step 4-->

                                        <!--begin: Form Wizard Step 5-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h3 class="text-center mb-10">{{l('Enrollment_PricePackage')}}
                                            </h3>
                                            <div *ngIf="pricePackages != undefined" class="container">
                                                
                                                    <div class="card-deck justify-content-center my-10">


                                                        <div class="card text-center m-3" style="min-width: 200px; max-width: 300px;" *ngFor="let pp of pricePackages.pricePackages;  let i = index">
                                                            <img class="card-img-top"
                                                                [src]="pp.highlighted ? 'assets/symbols/price_highlighted.png' : 'assets/symbols/price.png'"
                                                                alt="Card image cap">
                                                            <div class="card-body">
                                                                <div *ngIf="pp.highlighted">
                                                                    <h2><span class="badge badge-secondary">{{l('Enrollment_StandardPackage')}}</span></h2>
                                                                </div>
                                                                <h5 class="card-title"> {{pp.packageName}} </h5>
                                                                <div class="card-header">
                                                                    {{pp.finalPrice}}€
                                                                </div>
                                                                <ul class="list-group list-group-flush mb-1">
                        
                                                                    <li class="list-group-item"
                                                                        *ngFor="let product of pp.products;  let j = index">
                                                                        {{product.quantity}}x {{product.name}}
                                                                        {{product.totalPrice}}€</li>
                        
                                                                </ul>
                        
                        
                                                            </div>
                                                            <div class="card-footer">
                                                                <button
                                                                    class="btn btn-success m-btn m-btn--custom m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm"
                                                                    (click)="pricePackageSelected(pp.pricePackageId)">
                                                                    {{l('Select')}}
                                                                </button>
                                                            </div>
                                                        </div>
                        
                        
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Form Wizard Step 5-->
                                         <!--begin: Form Wizard Step 6-->
                                         <div class="pb-5" data-wizard-type="step-content">
                                            <h3 class="text-center mb-10">{{l('Enrollment_EnterData')}}
                                            </h3>
                                            <form (ngSubmit)="onSubmit()" #userDataForm="ngForm">
                                                <div class="form-group row">
                                                    <label for="personId" class="col-sm-2 col-form-label">{{l('SSN')}} *</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="personId" placeholder="PPKKVV-XXXX"
                                                            [(ngModel)]="userData.socialSecurityNo" name="ssn" required #ssc="ngModel">
                                                        <!-- <div *ngIf="ssc.invalid && (ssc.dirty || ssc.touched)" class="alert alert-danger">
                                                            <div *ngIf="ssc.errors.required">
                                                                Person ID is required.
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="firstNameInput" class="col-sm-2 col-form-label">{{l('FirstName')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="firstNameInput"
                                                            placeholder="Enter your first name" [(ngModel)]="userData.firstName"
                                                            name="firstName" required #firstName="ngModel">
                                                        <!-- <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="firstName.errors.required">
                                                                First name is required.
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                    <label for="lastNameInput" class="col-sm-2 col-form-label">{{l('LastName')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="lastNameInput"
                                                            placeholder="Enter your last name" [(ngModel)]="userData.lastName" name="lastName"
                                                            required>
                                                    </div>
                                                </div>
                        
                                                <div class="form-group row">
                                                    <label for="streetInput" class="col-sm-2 col-form-label">{{l('Street')}} *</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="streetInput" placeholder="Enter your street"
                                                            [(ngModel)]="userData.street" name="street" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="zipCodeInput" class="col-sm-2 col-form-label">{{l('ZipCode')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="zipCodeInput"
                                                            placeholder="Enter your ZIP code" [(ngModel)]="userData.zipCode" name="zipCode"
                                                            required>
                                                    </div>
                                                    <label for="cityInput" class="col-sm-2 col-form-label">{{l('City')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="cityInput" placeholder="Enter your city"
                                                            [(ngModel)]="userData.city" name="city" required>
                                                    </div>
                                                </div>
                        
                                                <div class="form-group row">
                                                    <label for="phoneInput" class="col-sm-2 col-form-label">{{l('Phone')}} *</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="phoneInput"
                                                            placeholder="Enter your phone number" [(ngModel)]="userData.phone" name="phone"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="emailInput" class="col-sm-2 col-form-label">{{l('EmailAddress')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="email" class="form-control" id="emailInput" placeholder="Enter your email"
                                                            [(ngModel)]="userData.email" name="email" required email #email="ngModel">
                                                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                                            <div *ngIf="email.errors?.email">
                                                                {{l('EmailNotValid')}}
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <label for="confirmEmailInput" class="col-sm-2 col-form-label">{{l('EmailConfirm')}} *</label>
                                                    <div class="col-sm-4">
                                                        <input type="email" class="form-control" id="confirmEmailInput"
                                                            placeholder="Enter your email again" [(ngModel)]="userData.confirmEmail"
                                                            name="confirmEmail" required email #confirmationEmail="ngModel">
                                                        <div *ngIf="(confirmationEmail.invalid && (confirmationEmail.dirty || confirmationEmail.touched))
                                                    || confirmationEmail.value !== email.value" class="alert alert-danger">
                                                            <div *ngIf="confirmationEmail.errors?.email">
                                                                {{l('EmailNotValid')}}
                                                            </div>
                                                            <div *ngIf="confirmationEmail.value !== email.value">
                                                                {{l('EmailsDoNotMatch')}}
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                </div>
                                                <div class="form-group row">
                                                    <!-- <label for="dateOfBirthInput" class="col-sm-2 col-form-label">Date of birth *</label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control m-input" type="datetime" bsDatepicker
                                                            [(ngModel)]="dateOfBirth" name="dateOfBirth" required>
                                                    </div> -->
                                                    <label for="Student_Country" class="col-sm-2 col-form-label">{{l("Country")}}</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" name="Student_Country" [(ngModel)]="currentCountry">
                                                            <option *ngFor="let option of countries" [ngValue]="option.name">
                                                                {{l(option.name)}}
                                                            </option>
                                                        </select>
                                                    </div>
                        
                                                </div>
                                                <div class="form-group row">
                        
                                                    <label for="Student_BirthCountry"
                                                        class="col-sm-2 col-form-label">{{l("BirthCountry")}}</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" name="Student_BirthCountry"
                                                            [(ngModel)]="currentBirthCountry">
                                                            <option *ngFor="let option of countries" [ngValue]="option.name">
                                                                {{l(option.name)}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <label for="Student_NativeLanguage"
                                                        class="col-sm-2 col-form-label">{{l("NativeLanguage")}}</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" name="Student_NativeLanguage"
                                                            [(ngModel)]="currentNativeLanguage">
                                                            <option *ngFor="let option of languages" [ngValue]="option.name">
                                                                {{l(option.name)}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                        
                                                <div class="form-group row">
                                                    <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">{{l("AdditionalInformation")}}</label>
                                                    <div class="col-sm-10"><textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="3" [(ngModel)]="userData.additionalInformation"
                                                            name="additionalInformation"></textarea>
                                                    </div>
                                                </div>
                        
                        
                                                <h3 class="my-5">{{l("Enrollment_PayerInfo")}}</h3>
                        
                                                <div class="form-group row" *ngIf="!hasPayer">
                                                    <div class="col text-center">
                                                    <button
                                                        class="btn btn-link"
                                                        (click)="openPayerPart()">
                                                        {{l("Enrollment_AddPayer")}}
                                                    </button>
                                                </div>
                                                </div>
                                                <div class="form-group row" *ngIf="hasPayer">
                                                    <div class="col text-center">
                                                    <button
                                                        class="btn btn-link"
                                                        (click)="closePayerPart()">
                                                        {{l("Enrollment_RemovePayer")}}
                                                    </button>
                                                </div>
                                                </div>
                                                <div *ngIf="hasPayer">
                                                    <div class="form-group row">
                                                        <label for="payersPersonId" class="col-sm-2 col-form-label">{{l("PayersSocialSecurityNo")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="payersPersonId"
                                                                placeholder="PPKKVV-XXXX" [(ngModel)]="userData.payersSocialSecurityNo"
                                                                name="payersSocialSecurityNo" [required]="hasPayer">
                                                        </div>
                                                        <label for="payersNameInput" class="col-sm-2 col-form-label">{{l("PayersName")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="payersNameInput"
                                                                placeholder="Enter the payers name" [(ngModel)]="userData.payersName"
                                                                name="payersName" [required]="hasPayer">
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label for="payersStreetInput" class="col-sm-2 col-form-label">{{l("PayersStreet")}} *</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="payersStreetInput"
                                                                placeholder="Enter the payers street" [(ngModel)]="userData.payersStreet"
                                                                name="payersStreet" [required]="hasPayer">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="payersZipCodeInput" class="col-sm-2 col-form-label">{{l("PayersZipCode")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="payersZipCodeInput"
                                                                placeholder="Enter the payers ZIP code" [(ngModel)]="userData.payersZipCode"
                                                                name="payersZipCode" [required]="hasPayer">
                                                        </div>
                                                        <label for="payersCityInput" class="col-sm-2 col-form-label">{{l("PayersCity")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="payersCityInput"
                                                                placeholder="Enter the payers city" [(ngModel)]="userData.payersCity"
                                                                name="payersCity" [required]="hasPayer">
                                                        </div>
                                                    </div>
                        
                        
                                                    <div class="form-group row">
                                                        <label for="payersPhoneInput" class="col-sm-2 col-form-label">{{l("PayersPhone")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="payersPhoneInput"
                                                                placeholder="Enter the payers phone number" [(ngModel)]="userData.payersPhone"
                                                                name="payersPhone" [required]="hasPayer">
                                                        </div>
                                                        <label for="payersEmailInput" class="col-sm-2 col-form-label">{{l("PayersEmail")}} *</label>
                                                        <div class="col-sm-4">
                                                            <input type="email" class="form-control" id="payersEmailInput"
                                                                placeholder="Enter the payers email" [(ngModel)]="userData.payersEmail"
                                                                name="payersEmail" [required]="hasPayer">
                                                        </div>
                        
                                                    </div>
                                                </div>
                        
                                                <div class="mt-5">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                                            [(ngModel)]="confirmTerms" name="confirm" required #confirm="ngModel">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            {{l("Enrollment_BusinessTermsAgreeing")}}
                                                        </label>
                                                        <div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="!confirmTerms">
                                                                {{l("YouHaveToAgreeWithTerms")}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="mt-3">
                                                    <button type="submit" class="btn btn-primary" [disabled]="!userDataForm.form.valid"
                                                        [buttonBusy]="submitting" [busyText]="l('PleaseWait')">Submit</button>
                                                </div> -->
                                            </form>
                                        </div>
                                        <!--end: Form Wizard Step 6-->

                                        <!--begin: Form Actions -->
                                        <div class="d-flex justify-content-between border-top pt-10">
                                            <div class="mr-2">
                                                <div *ngIf="!isFirstStep()"
                                                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                                                    (click)="goToPreviousPage()">
                                                    {{l('Previous')}}
                                                </div>
                                            </div>
                                            <div>
                                                <!-- <div (click)="onSubmit()"
                                                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                                    data-wizard-type="action-submit">
                                                    Submit
                                                </div> -->
                                                <button type="submit" class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" [disabled]="!userDataForm.form.valid"
                                                [buttonBusy]="submitting" [busyText]="l('PleaseWait')"   data-wizard-type="action-submit" (click)="onSubmit()">Submit</button>
                                                <!-- <div *ngIf="showNextStepButton"
                                                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                                                    (click)="goToNextPage()">
                                                    Next Step
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--end: Form Actions -->
                                    </form>
                                    <!--end: Form Wizard Form-->
                                </div>
                            </div>
                        </div>
                        <!--end: Wizard -->
                    </div>
                </div>
            </div>

        </div>
    </div>