<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("StartTime")}} :</h6>
                        {{item.theoryLesson.startTime}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LessonLength")}} :</h6>
                        {{item.theoryLesson.lessonLength}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AddingMinutesAfter")}} :</h6>
                        {{item.theoryLesson.addingMinutesAfter}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Instructor")}} :</h6>
                        {{instructorList}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Office")}} :</h6>
                        {{item.officeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Topic")}} :</h6>
                        {{item.theoryLesson.topic}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Completed")}} :</h6>
                        {{item.theoryLesson.completed}}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>{{l("LicenseClass")}} :</h6>
                        {{item.theoryLesson.licenseClass}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Students")}} :</h6>
                        {{studentList}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
