<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #officeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="office.id">{{l("EditOffice")}}</span>
                        <span *ngIf="!office.id">{{l("CreateNewOffice")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Office_Name">{{l("Name")}} *</label>
									<input type="text" id="Office_Name" class="form-control" [(ngModel)]="office.name" name="Name"     required/>
								</div>
					
								<div class="form-group">
									<label for="Office_Street">{{l("Street")}}</label>
									<input type="text" id="Office_Street" class="form-control" [(ngModel)]="office.street" name="Street"    />
								</div>
					
								<div class="form-group">
									<label for="Office_City">{{l("City")}}</label>
									<input type="text" id="Office_City" class="form-control" [(ngModel)]="office.city" name="City"    />
								</div>
					
								<div class="form-group">
									<label for="Office_ZipCode">{{l("ZipCode")}}</label>
									<input type="text" id="Office_ZipCode" class="form-control" [(ngModel)]="office.zipCode" name="ZipCode"    />
								</div>
					
								<div class="form-group">
									<label for="Office_Country">{{l("Country")}}</label>
									<input type="text" id="Office_Country" class="form-control" [(ngModel)]="office.country" name="Country"    />
								</div>
					
								<div class="form-group">
									<label for="Office_PhoneNumber">{{l("PhoneNumber")}}</label>
									<input type="text" id="Office_PhoneNumber" class="form-control" [(ngModel)]="office.phoneNumber" name="PhoneNumber"    />
								</div>
					
								<div class="form-group">
									<label for="Office_Email">{{l("Email")}}</label>
									<input type="text" id="Office_Email" class="form-control" [(ngModel)]="office.email" name="Email"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!officeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>