<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.office.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Street")}} :</h6>
                        {{ item.office.street }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("City")}} :</h6>
                        {{ item.office.city }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ZipCode")}} :</h6>
                        {{ item.office.zipCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Country")}} :</h6>
                        {{ item.office.country }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PhoneNumber")}} :</h6>
                        {{ item.office.phoneNumber }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Email")}} :</h6>
                        {{ item.office.email }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
