<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Scheduler')" [description]="l('SchedulerHeaderInfo')">





        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">


                    <div class="row">
                        <div class="col-md-4 col-sm-12 mt-5">
                            <h5 class="mb-5">{{l("AppointmentType")}}</h5>
                            <div class="checkbox-list">
                                <label class="checkbox" *ngIf="allowedToSeeOwnDrivingLessons">
                                    <input type="checkbox" name="showDrivingLessons"
                                        [(ngModel)]="eventTypeFilter.drivingLessons" (change)="refetchEvents()">
                                    <span></span>
                                    {{l("DrivingLessons")}}

                                </label>

                                <label class="checkbox" *ngIf="allowedToSeeOwnDrivingLessons">
                                    <input type="checkbox" name="showTheoryLessons"
                                        [(ngModel)]="eventTypeFilter.theoryLessons" (change)="refetchEvents()">
                                    <span></span>
                                    {{l("TheoryLessons")}}

                                </label>

                                <label class="checkbox" *ngIf="allowedToSeeOwnAppointments">
                                    <input [(ngModel)]="eventTypeFilter.otherEvents" type="checkbox" name="showOther"
                                        (change)="refetchEvents()">
                                    <span></span>
                                    {{l("Appointments")}}

                                </label>
                            </div>
                        </div>
                        <!-- <h5 class="m--margin-top-30">{{l("Vehicles")}}</h5>
                        <div class="m--margin-top-20">
                            <div class="row" *ngIf="vehicles">
                                <div class="col-md-auto" *ngFor="let vehicle of vehicles.vehicles">
                                    <label attr.for="Vehicle_{{vehicle.name}}" class="checkbox">
                                        <ejs-checkbox label="Primary" [checked]="true"></ejs-checkbox>
                                        <input id="Vehicle_{{vehicle.name}}" type="checkbox" name="{{vehicle.name}}"
                                            [(ngModel)]="vehicle.selected" value="{{vehicle.id}}"
                                            (change)="onVehicleChange()">
                                        {{vehicle.name}}
                                        <span> </span>
                                    </label>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-4 col-sm-12 mt-5">
                            <h5 class="mb-5">{{l("CalenderViewOptions")}}</h5>
                            <div class="checkbox-list">
                                <label class="checkbox">
                                    <input type="checkbox" name="toggleWeekends" [(ngModel)]="showWeekends"
                                        (change)="toggleWeekendView()">
                                    <span></span>
                                    {{l("Show weekend")}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mt-5 text-right" *ngIf="isGranted('InstructorView')">
                            <button (click)="openWorkingHoursModal()" class="btn btn-primary blue"><i
                                class="fa fa-filter"></i>
                            {{l("WorkingHours")}}</button>
                        </div>
                    </div>



                    <div class="mt-10">    </div>
                    <hr>
                    <div class="mt-10">
                        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <createOrEditDrivingLessonModal #createOrEditDrivingLessonModal (modalSave)="refetchEvents()">
    </createOrEditDrivingLessonModal>
    <createOrEditExamDrivingModal #createOrEditExamDrivingModal (modalSave)="refetchEvents()">
    </createOrEditExamDrivingModal>
    <createEventTypeModal #createEventTypeModal></createEventTypeModal>
    <createOrEditTheoryLessonModal #createOrEditTheoryLessonModal (modalSave)="refetchEvents()">
    </createOrEditTheoryLessonModal>
    <createOrEditSimulatorLessonModal #createOrEditSimulatorLessonModal (modalSave)="refetchEvents()">
    </createOrEditSimulatorLessonModal>
    <createOrEditEventModal #createOrEditEventModal (modalSave)="refetchEvents()"></createOrEditEventModal>
    <instructorLookupTableModal #instructorLookupTableModal (modalSave)="getNewInstructorId()">
    </instructorLookupTableModal>
    <studentLookupTableModal #studentLookupTableModal (modalSave)="getNewStudentId()"></studentLookupTableModal>

    <createOrEditWorkingHourModal #workingHourModal (modalSave)="workingHoursSet()"></createOrEditWorkingHourModal>
</div>