<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #vehicleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="vehicle.id">{{l("EditVehicle")}}</span>
                        <span *ngIf="!vehicle.id">{{l("CreateNewVehicle")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                 

				
		 
					<div class="form-group m-form__group">
                        <label for="LicenseClassClass">{{l("LicenseClass")}}</label>
						<ng-multiselect-dropdown
						[placeholder]="placeholder"
						[data]="dropdownList"
						[(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
						[settings]="dropdownSettings"
						>
						</ng-multiselect-dropdown>
                    </div>
				<!-- <input class="form-control" name="vehicle.licenseClasses" [(ngModel)]="vehicle.licenseClasses" type="text"  hidden> -->

								<div class="form-group">
									<label for="Vehicle_Name">{{l("Name")}} *</label>
									<input type="text" id="Vehicle_Name" class="form-control" [(ngModel)]="vehicle.name" name="Name"     required/>
								</div>
					
								<div class="form-group">
									<label for="Vehicle_Brand">{{l("Brand")}} *</label>
									<input type="text" id="Vehicle_Brand" class="form-control" [(ngModel)]="vehicle.brand" name="Brand"     required/>
								</div>
					
								<div class="form-group">
									<label for="Vehicle_Model">{{l("Model")}} *</label>
									<input type="text" id="Vehicle_Model" class="form-control" [(ngModel)]="vehicle.model" name="Model"     required/>
								</div>

								<div class="form-group">
									<label for="Vehicle_Powertrain">{{l("Powertrain")}}</label>
									<select class="form-control" name="Powertrain" id="Vehicle_Powertrain" [(ngModel)]="vehicle.vehiclePowertrain">
									<option value="0">{{l('Gas')}}</option>

									<option value="1">{{l('Diesel')}}</option>

									<option value="2">{{l('CNG')}}</option>

									<option value="3">{{l('Hybrid')}}</option>

									<option value="4">{{l('Electric')}}</option>


									</select>
								</div>

								<div class="form-group">
									<label for="Vehicle_Gearbox">{{l("Gearbox")}}</label>
									<select class="form-control" name="Gearbox" id="Vehicle_Gearbox" [(ngModel)]="vehicle.gearbox">
									<option value="0">{{l('Manual')}}</option>

									<option value="1">{{l('Automatic')}}</option>
									</select>
								</div>
					
								<div class="form-group">
									<label for="Vehicle_Year">{{l("Year")}}</label>
									<input type="text" id="Vehicle_Year" class="form-control" [(ngModel)]="vehicle.year" name="Year"   minlength="4"  maxlength="4" />
								</div>
					
								<div class="form-group">
									<label for="Vehicle_LicensePlate">{{l("LicensePlate")}}</label>
									<input type="text" id="Vehicle_LicensePlate" class="form-control" [(ngModel)]="vehicle.licensePlate" name="LicensePlate"    />
								</div>
								<div class="form-group m-form__group">
									<label for="ResponsibleInstructor">{{l("ResponsibleInstructor")}}</label>
									<div class="input-group">
										<input class="form-control" id="instructorFullName" name="instructorFullName" [(ngModel)]="instructorFullName" type="text" disabled>     
										<div class="input-group-append">
											<button class="btn btn-primary blue" (click)="openSelectInstructorModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
										</div> <div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" (click)="setInstructorNull()"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>
								<input class="form-control" name="vehicle.responsibleInstructorId" [(ngModel)]="vehicle.responsibleInstructorId" type="text"  hidden>
								<br/><div class="checkbox-list">
									<label for="Vehicle_InUse" class="checkbox">
										<input id="Vehicle_InUse" type="checkbox" name="InUse" [(ngModel)]="vehicle.inUse"> 
										<span></span>
									{{l("InUse")}}
									
									</label>
								</div>
					
								
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!vehicleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<vehicleLicenseClassLookupTableModal #vehicleLicenseClassLookupTableModal (modalSave)="getNewLicenseClassId()"></vehicleLicenseClassLookupTableModal>
<vehicle-instructorLookupTableModal #instructorLookupTableModal (modalSave)="getNewInstructorId()"></vehicle-instructorLookupTableModal>
		 
</div>