<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #licenseClassForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="licenseClass.id">{{l("EditLicenseClass")}}</span>
                        <span *ngIf="!licenseClass.id">{{l("CreateNewLicenseClass")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="LicenseClass_Class">{{l("Class")}} *</label>
									<input type="text" id="LicenseClass_Class" class="form-control" [(ngModel)]="licenseClass.class" name="Class"   minlength="1"  maxlength="5"  required/>
								</div>
					
								<div class="form-group">
									<label for="LicenseClass_Description">{{l("Description")}}</label>
									<input type="text" id="LicenseClass_Description" class="form-control" [(ngModel)]="licenseClass.description" name="Description"    />
                                </div>
                                
                                <h4>Predefined lessons</h4>
                                <div class="form-group">
                                    <label>{{l("PredefinedDrivingLessons")}}</label>
                                    <ng-multiselect-dropdown [placeholder]="placeholder" [settings]="dropdownSettings" [data]="pdlList"
                                        [(ngModel)]="pdlselectedItems" [ngModelOptions]="{standalone: true}">
                                    </ng-multiselect-dropdown>
                                    <!-- <p-multiSelect id="predefinedDrivingLessons" name="predefinedDrivingLessons" [options]="predefinedDrivingLessons" [(ngModel)]="selectedPredefinedDrivingLessons" optionLabel="name" styleClass="dark-panel"></p-multiSelect> -->
                                
                                </div>
                                <div class="form-group">
                                    <label>{{l("PredefinedTheoryLessons")}}</label>
                                    <ng-multiselect-dropdown [placeholder]="placeholder" [settings]="dropdownSettings" [data]="ptlList"
                                        [(ngModel)]="ptlselectedItems" [ngModelOptions]="{standalone: true}"
                                       >
                                    </ng-multiselect-dropdown>
                                    <!-- <p-multiSelect id="predefinedTheoryLessons"  name="predefinedTheoryLessons"  [options]="predefinedTheoryLessons" [(ngModel)]="selectedPredefinedTheoryLessons" optionLabel="name"></p-multiSelect> -->
                                
                                </div>
                                <!-- <div class="form-group">
                                    <label>{{"ClassImage" | localize}}</label>
                                    <div class="row m-form">
                                        <div class="col-md-6">
                                            <form #logoUploadForm>
                                            <div class="form-group">
                                                <input type="file" ng2FileSelect [uploader]="classImageUploader" class="col-lg-12" required />
                                                <span class="m-form__help col-lg-12">{{"UploadLogo_Info" | localize}}</span>
                                            </div>
                                            <button class="btn btn-primary" type="button" (click)="uploadInvoiceLogo()">{{"Upload" | localize}}</button>
                                            <button class="btn btn-default" type="button" (click)="clearInvoiceLogo()">{{"Clear" | localize}}</button>
                                            </form>
                                        </div>
                                        <div class="col-md-6" *ngIf="invoiceLogo != null">
                                            <img id="invoiceLogo" [src]='invoiceLogo' />
                                        </div>
                                        <div class="col-md-6" *ngIf="invoiceLogo == null">
                                            <label>{{"NoInvoiceImageSet" | localize}}</label>
                                        </div>
                                    </div>
                                </div> -->
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!licenseClassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>