<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('PredefinedTheoryLessons')"
            [description]="l('PredefinedTheoryLessonsHeaderInfo')">
    
                <div role="actions">
    
                    <button *ngIf="isGranted('Pages.Administration.PredefinedTheoryLessons.Create')" (click)="createPredefinedTheoryLesson()" 
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewPredefinedTheoryLesson")}}</button>
    
                </div>
      
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPredefinedTheoryLessons()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						

                     
                        
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getPredefinedTheoryLessons($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.PredefinedTheoryLessons.Edit', 'Pages.Administration.PredefinedTheoryLessons.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="predefinedTheoryLesson.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="number">
                                        {{l('Number')}}
                                        <p-sortIcon field="predefinedTheoryLesson.number"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lessonIdString">
                                        {{l('LessonIdString')}}
                                        <p-sortIcon field="predefinedTheoryLesson.lessonIdString"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="length">
                                        {{l('Length')}}
                                        <p-sortIcon field="predefinedTheoryLesson.length"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requiredForClasses">
                                        {{l('RequiredForClasses')}}
                                        <p-sortIcon field="predefinedTheoryLesson.requiredForClasses"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="notRequiredIfClasses">
                                        {{l('NotRequiredIfClasses')}}
                                        <p-sortIcon field="predefinedTheoryLesson.notRequiredIfClasses"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.PredefinedTheoryLessons.Edit', 'Pages.Administration.PredefinedTheoryLessons.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                        <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewPredefinedTheoryLessonModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" class="dropdown-item" *ngIf="permission.isGranted('Pages.Administration.PredefinedTheoryLessons.Edit')"
														(click)="createOrEditPredefinedTheoryLessonModal.show(record.predefinedTheoryLesson.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" class="dropdown-item" *ngIf="permission.isGranted('Pages.Administration.PredefinedTheoryLessons.Delete')"
														(click)="deletePredefinedTheoryLesson(record.predefinedTheoryLesson)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" class="dropdown-item" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.predefinedTheoryLesson)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Name')}}</span>
											{{record.predefinedTheoryLesson.name}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Number')}}</span>
											{{record.predefinedTheoryLesson.number}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('LessonIdString')}}</span>
											{{record.predefinedTheoryLesson.lessonIdString}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Length')}}</span>
											{{record.predefinedTheoryLesson.length}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('RequiredForClasses')}}</span>
											{{record.predefinedTheoryLesson.requiredForClasses}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('NotRequiredIfClasses')}}</span>
											{{record.predefinedTheoryLesson.notRequiredIfClasses}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getPredefinedTheoryLessons($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditPredefinedTheoryLessonModal #createOrEditPredefinedTheoryLessonModal (modalSave)="getPredefinedTheoryLessons()"></createOrEditPredefinedTheoryLessonModal>
    <viewPredefinedTheoryLessonModal #viewPredefinedTheoryLessonModal></viewPredefinedTheoryLessonModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
