<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("FirstName")}} :</h6>
                        {{ item.enrollment.firstName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastName")}} :</h6>
                        {{ item.enrollment.lastName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SocialSecurityNo")}} :</h6>
                        {{ item.enrollment.socialSecurityNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PayersSocialSecurityNo")}} :</h6>
                        {{ item.enrollment.payersSocialSecurityNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PayersName")}} :</h6>
                        {{ item.enrollment.payersName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LicenseClass")}} :</h6>
                        {{ item.enrollment.licenseClass }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Approved")}} :</h6>
                        <div *ngIf="item.enrollment.approved" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.enrollment.approved" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("EnrollmentDate")}} :</h6>
                        {{ item.enrollment.enrollmentDate }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("Course")}}) {{l("Name")}} :</h6>
                        {{item.courseName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Office")}}) {{l("Name")}} :</h6>
                        {{item.officeName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
