<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Products')"
            [description]="l('ProductsHeaderInfo')">
    
                <div role="actions">
                    <button *ngIf="isGranted('Pages.Administration.Products.Create')" (click)="createProduct()" 
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewProduct")}}</button>
    
                </div>
      
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

				<form class="horizontal-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getProducts()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinPriceFilter">{{l("MinMax")}} {{l("Price")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinPriceFilter" [(ngModel)]="minPriceFilter" placeholder="{{l('MinValue')}}" name="minPriceFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxPriceFilter" placeholder="{{l('MaxValue')}}" name="maxPriceFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinVATFilter">{{l("MinMax")}} {{l("VAT")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinVATFilter" [(ngModel)]="minVATFilter" placeholder="{{l('MinValue')}}" name="minVATFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxVATFilter" placeholder="{{l('MaxValue')}}" name="maxVATFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="ProductTypeFilterSelect">{{l("ProductType")}}</label>
								<select class="form-control" name="ProductTypeFilter" id="ProductTypeFilterSelect" [(ngModel)]="productTypeFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Lesson')}}</option>

										<option value="1">{{l('Fee')}}</option>

										<option value="2">{{l('ExternalFee')}}</option>

										<option value="3">{{l('Other')}}</option>


								</select>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getProducts($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.Products.Edit', 'Pages.Administration.Products.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="product.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="price">
                                        {{l('Price')}}
                                        <p-sortIcon field="product.price"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="vat">
                                        {{l('VAT')}}
                                        <p-sortIcon field="product.vat"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="productType">
                                        {{l('ProductType')}}
                                        <p-sortIcon field="product.productType"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.Products.Edit', 'Pages.Administration.Products.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewProductModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" class="dropdown-item" *ngIf="permission.isGranted('Pages.Administration.Products.Edit')"
														(click)="createOrEditProductModal.show(record.product.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" class="dropdown-item" *ngIf="permission.isGranted('Pages.Administration.Products.Delete')"
														(click)="deleteProduct(record.product)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" class="dropdown-item" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.product)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Name')}}</span>
											{{record.product.name}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Price')}}</span>
											{{record.product.price}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('VAT')}}</span>
											{{record.product.vat}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('ProductType')}}</span>
										{{l( productType[record.product.productType])}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getProducts($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditProductModal #createOrEditProductModal (modalSave)="getProducts()"></createOrEditProductModal>
    <viewProductModal #viewProductModal></viewProductModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
