<div class="row justify-content-center">
    <div class="col col-sm-2"></div>  
    <div class="col-sm-8">
        <h1>{{l("Congratulations")}}</h1>
        <h4>{{l("OT_Passed")}} {{currentLesson}} </h4>
        <div class="row">
            <div class="col-sm-5">
                <button type="button" 
                    class="btn btn-primary mr-5"
                    routerLink="/app/main/studentsView/theoryLessons">
                    {{l("OT_ReturnCourse")}}
                </button> 
            </div>
            <div class="col-sm-2">           
            </div>
            <div class="col-sm-5">
                <button type="button"                
                class="btn btn-primary mr-5"
                (click)="continueLesson()">
                    {{l("OT_MoveCourse")}}
                </button>  
            </div>
        </div>         
    </div>
    <div class="col col-sm-2"></div>        
</div>
                    
