
<div class="row justify-content-center">
    <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="toast" position="bottom-right"></p-toast>
    <div class="col col-sm-2"></div>  
    <div class="col-sm-8">

        <h3 class="m-portlet__head-text">
            {{l("WelcomeELesson")}}
        </h3>

        <div class="m--space-10"></div>

        <span>{{l("ELessonInstruction1")}}</span>

        <p-messages severity="error" [value]="closedMessage" [closable]="false"></p-messages>      
    
        <div class="m--space-10"></div>

        <span>{{l("ELessonInstruction2")}}</span>
        
        <div class="m--space-10"></div>

        
        <h6>{{l("OpeningTime")}}</h6>
        <div *ngIf="upcomingOpeningHours"></div>
        <ul>
            <li *ngFor="let temp of upcomingOpeningHours; index as i">
                <div *ngIf="!temp.closed; then thenBlock else elseBlock"></div>                                  
                <ng-template #thenBlock>
                    {{getNextDayName(i)}}: {{temp.opening}} - {{temp.closing}}  
                </ng-template>
                <ng-template #elseBlock>
                    {{getNextDayName(i)}}: {{l("Closed")}}
                </ng-template>
            </li>   
        </ul>
        
        <div *ngIf="todayOpeningHours">            
            <span>                
                <p-messages severity="info" [(value)]="requirementMessage" [closable]="false">               
                </p-messages>                                 
            </span>   
                   
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group">                            
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Phone:</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="studentPhoneNumber" placeholder="Phonenumber" aria-describedby="basic-addon1">
                        </div>                      
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-primary mr-5" (click)="toggleVideoTestBlock()" >{{videoTestButtonName}}</button>
                    </div>
                </div>
            </div>
                                  
            <br>                       
        
            <div *ngIf="showVideoTest">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        [src]="testVideoUrl | safeUrl"
                        frameborder='0'
                        allowfullscreen>
                    </iframe>      
                </div> 
            </div>
            
            <div>
                <span>
                    <p-checkbox name="phoneNumber" binary="true" [(ngModel)]="checked">             
                    </p-checkbox> 
                    {{l("ELessonInstruction3")}}                                               
                </span>
            </div>                            
        

       
            <div class="m--space-10"></div>

            <div class="row justify-content-md-center">             
                <div class="col-md-auto">
                    <button type="button"
                        class="btn btn-primary mr-5"                       
                        [disabled]="todayOpeningHours.closed || !todayOpeningHours.closed && checked == false"
                        (click)="startLesson()">
                        {{l("Start eLesson")}}
                    </button>
                </div>               
            </div>
        </div>
    </div>
    <div class="col col-sm-2"></div>
</div>