<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #studentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span>{{l("ChangePricePackage")}}</span>
					</h4>
					<!-- <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="sending">
						<i aria-hidden="true" class="ki ki-close"></i>
					</button> -->
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>{{l('CurrentPricePackage')}}: {{currentPricePackage.name}}</label>
					</div>
					<div class="form-group">
						<label>{{l('NewPricePackage')}}: *</label><br>
						<select required class="form-control" [(ngModel)]="targetPricePackage"
							name="targetPricePackage">
							<option *ngFor="let pp of possibleTargetPricePackages" [ngValue]="pp">
								{{pp.name}}
							</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!message" [buttonBusy]="saving"
						[busyText]="l('SavingWithThreeDot')"><i class="fa fa-send"></i>
						<span>{{l("Change")}}</span></button>
				</div>
			</form>
		</div>
	</div>

</div>