<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #studentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span>{{l("MoveToAnotherCourse")}}</span>
					</h4>
					<!-- <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="sending">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="checkbox">
							<input type="checkbox" name="showExpiredCourses" [(ngModel)]="showExpiredCourses"
								(change)="showExpiredCoursesChanged()">
							<span></span>
							{{l("ShowExpiredCourses")}}

						</label>
					</div>
					<div class="form-group">
						<label>Source course: *</label><br>
						<select required class="form-control" [(ngModel)]="selectedStudentCourse"
							name="selectedStudentCourse">
							<option *ngFor="let course of studentsCourses" [ngValue]="course">
								{{course.course.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Target course: *</label><br>
						<select required class="form-control" [(ngModel)]="selectedTargetCourse"
							name="selectedTargetCourse">
							<option *ngFor="let course of possibleTargetCourses" [ngValue]="course">
								{{course.courseName}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label *ngIf="selectedTargetCourse">Price Package: *</label><br>
						<select required *ngIf="selectedTargetCourse" name="pricePackage" class="form-control"
							[(ngModel)]="selectedPricePackage">
							<option *ngFor="let pp of selectedTargetCourse.availablePricePackages" [ngValue]="pp">
								{{pp.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<div class="checkbox-list">
							<label class="checkbox">
								<input type="checkbox" name="EnrollmentMail" [(ngModel)]="sendEnrollmentMail">
								<span></span>
								{{l("SendEnrollmentEmail")}}
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!message" [buttonBusy]="saving"
						[busyText]="l('SavingWithThreeDot')"><i class="fa fa-send"></i>
						<span>{{l("Move")}}</span></button>
				</div>
			</form>
		</div>
	</div>

</div>