<div [@routerTransition]>

    <!-- <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("StudentOverview")}}</span>
                </h3>
                <span *ngIf="overallActive" class="m-section__sub">
                    {{student.firstName}} {{student.lastName}}
                </span>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3" *ngIf="studentCourses != null && studentCourses.length > 0">

                <label>Course: </label><br>
                <select class="form-control" [(ngModel)]="selectedStudentCourse" (ngModelChange)="courseChanged.next()">
                    <option *ngFor="let course of studentCourses" [ngValue]="course">
                        {{course.course.name}}
                    </option>
                </select>

            </div>
        </div>
        <div *ngIf="drivingLessons != null && drivingLessons.completedExam">
            <alert type="success">
                {{l("CourseCompletedMessageStudentOverview")}}!
            </alert>
        </div>
    </div> -->

    <div class="content d-flex flex-column flex-column-fluid">
        <div style="height:200px">
        <sub-header *ngIf="overallActive" [title]="title" [description]="">

            <div *ngIf="overallActive" role="actions" style="width: 300px">
                <div >
                <label>Course: </label>
                <select class="form-control" [(ngModel)]="selectedStudentCourse" (ngModelChange)="CallCourseChanged()">
                    <option *ngFor="let course of studentCourses" [ngValue]="course">
                        {{course.course.name}}
                    </option>
                </select>
            </div>
            </div>

        </sub-header>
    </div>
        <div *ngIf="drivingLessons != null && drivingLessons.completedExam">
            <alert type="success">
                {{l("CourseCompletedMessageStudentOverview")}}!
            </alert>
        </div>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div *ngIf="overallActive" class="card-body">

                    <tabset>
                        <tab heading={{overviewTabName}} id="tab1">
                         
                                
                            <students-overview-overview [student]="student" [parentOverview]="this"
                                [pricePackageName]="pricePackageName" [drivingLessons]="this.drivingLessons">
                            </students-overview-overview>
                     
            
                        </tab>
                        <tab heading={{lessonsTabName}} id="tab2" (selectTab)="onLessonsTabSelect($event)" (deselect)="onLessonsTabDeselect($event)">
                        
                            <students-overview-lessons [student]="student" [parentOverview]="this">
                            </students-overview-lessons>
                   
                        </tab>
                        <tab heading={{theoryLessonsTabName}} id="tab3" (selectTab)="onTheoryLessonsTabSelect($event)" (deselect)="onTheoryLessonsTabDeselect($event)">
                        
                            <students-overview-theory-lessons [student]="student" [parentOverview]="this">
                            </students-overview-theory-lessons>
                   
                        </tab>
                        <tab *ngIf="isGranted('Pages.Administration.PricePackages')" heading={{pricePackageTabName}} id="tab4" (selectTab)="onPricePackagesTabSelect($event)" (deselect)="onPricePackagesTabDeselect($event)">
                           
                            <students-overview-pricePackage *ngIf="selectedStudentCourse" [parentOverview]="this"
                                [student]="student" [selectedStudentCourse]="selectedStudentCourse">
                            </students-overview-pricePackage>
                     
                        </tab>
                        <tab *ngIf="isGranted('Pages.Students.ViewSpecificInvoice')" heading={{studentInvoicesTabName}} id="tab5" (selectTab)="onStudentInvoicesTabSelect($event)" (deselect)="onStudentInvoicesTabDeselect($event)">
                        
                            <students-overview-invoices [parentOverview]="this" [student]="student">
                            </students-overview-invoices>
                     
                        </tab>
                        <tab *ngIf="isGranted('Pages.Administration.Forms')" heading={{studentFormsTabName}} id="tab6" (selectTab)="onFormsTabSelect($event)" (deselect)="onFormsTabDeselect($event)">
                   
                            <students-overview-forms [parentOverview]="this" [student]="student"></students-overview-forms>
                     
                        </tab>
                        <tab *ngIf="isGranted('Pages.Administration.Todos')" heading={{studentTasksTabName}} id="tab7" (selectTab)="onTodosTabSelect($event)" (deselect)="onTodosTabDeselect($event)">
                   
                            <students-overview-tasks [student]="student"  [parentOverview]="this"></students-overview-tasks>
                     
                        </tab>
                        <tab heading={{studentSchedulerTabName}} id="tab8" (selectTab)="onSchedulerTabSelect($event)" (deselect)="onSchedulerTabDeselect($event)">
                   
                            <students-overview-scheduler [student]="student"  [parentOverview]="this"></students-overview-scheduler>
                     
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>


        <div class="ml-10">

            <button type="button" (click)="goBack()" class="btn btn-primary mr-5">{{l("Back")}}</button>

        </div>
    </div>
</div>