<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{l("CreateNewLessonOrEvent")}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center mt-3">

                        <button *ngIf="allowCreateDrivingLesson" [disabled]="saving" type="button"
                            class="btn btn-primary blue"
                            (click)="openDrivingLessonModal()">{{l("DrivingLesson")}}</button>
                    </div>
                    <div class="row justify-content-center mt-3" *ngIf="allowCreateSimulatorLesson">
                        <button  [disabled]="saving" type="button"
                            class="btn btn-primary blue"
                            (click)="openSimulatorLessonModal()">{{l("SimulatorLesson")}}</button>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button *ngIf="allowCreateTheoryLesson" [disabled]="saving" type="button"
                            class="btn btn-primary blue"
                            (click)="openTheoryLessonModal()">{{l("TheoryLesson")}}</button>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button *ngIf="allowCreateEvent" [disabled]="saving" type="button" class="btn btn-primary blue"
                            (click)="openEventModal()">{{l("Event")}}</button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
            </div>
        </div>
    </div>

    <!-- <drivingLessonTopicLookupTableModal #drivingLessonTopicLookupTableModal (modalSave)="getNewTopic()"></drivingLessonTopicLookupTableModal>
    <studentLookupTableModal #studentLookupTableModal (modalSave)="getNewStudentId()"></studentLookupTableModal>
	<licenseClassLookupTableModal #licenseClassLookupTableModal (modalSave)="getNewLicenseClass()"></licenseClassLookupTableModal>
         -->
</div>