<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Scheduler')" [description]="l('SchedulerHeaderInfo')">





        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- <div class="form-group m-form__group">
                        <label for="StudentFirstName">{{l("Student")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="studentFullName" name="studentFullName"
                                [(ngModel)]="studentFullName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectStudentModal()" type="button"><i
                                        class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setStudentIdNull()"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="studentId" [(ngModel)]="studentId" type="text" hidden> -->
                 
                        <div class="row">
                            <div class="col-md-4 col-sm-12 mt-5">
                               
                                
                                    <div class="checkbox-list">
                                        <label class="checkbox">
                                            <input type="checkbox" name="showDrivingLessons"
                                                [(ngModel)]="eventTypeFilter.drivingLessons" (change)="refetchEvents()">
                                            <span></span>
                                            {{l("DrivingLessons")}}
                                        </label>


                                        <label *ngIf="simulatorFeatureEnabled" class="checkbox">
                                            <input type="checkbox" name="showSimulatorLessons"
                                                [(ngModel)]="eventTypeFilter.simulatorLessons"
                                                (change)="refetchEvents()">
                                            <span></span>
                                            {{l("SimulatorLessons")}}
                                        </label>

                                        <label class="checkbox">
                                            <input type="checkbox" name="showTheoryLessons"
                                                [(ngModel)]="eventTypeFilter.theoryLessons" (change)="refetchEvents()">
                                            <span></span>
                                            {{l("TheoryLessons")}}
                                        </label>

                                        <label class="checkbox">
                                            <input [(ngModel)]="eventTypeFilter.otherEvents" type="checkbox"
                                                name="showOther" (change)="refetchEvents()">
                                            <span></span>
                                            {{l("Appointments")}}
                                        </label>
                                    </div>
                             
                            </div>
                            <div class="col-md-4 col-sm-12 mt-5">
                                <h5 class="mb-5">{{l("CalenderViewOptions")}}</h5>
                                <div class="checkbox-list">
                                    <label class="checkbox">
                                        <input type="checkbox" name="toggleWeekends" [(ngModel)]="showWeekends"
                                            (change)="toggleWeekendView()">
                                        <span></span>
                                        {{l("Show weekend")}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mt-5 text-right">
                                <button (click)="openSchedulerFilterModal()" class="btn btn-primary blue"><i
                                    class="fa fa-filter"></i>
                                {{l("FilterResources")}}</button>
                            </div>
                        </div>
                        <div class="mt-10">    </div>
                        <hr>
                        <div class="mt-10">
                            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                        </div>
                   
                </div>



            </div>
        </div>
        <createOrEditDrivingLessonModal #createOrEditDrivingLessonModal (modalSave)="refetchEvents()">
        </createOrEditDrivingLessonModal>
        <createOrEditExamDrivingModal #createOrEditExamDrivingModal (modalSave)="refetchEvents()">
        </createOrEditExamDrivingModal>
        <createEventTypeModal #createEventTypeModal></createEventTypeModal>
        <createOrEditTheoryLessonModal #createOrEditTheoryLessonModal (modalSave)="refetchEvents()">
        </createOrEditTheoryLessonModal>
        <createOrEditSimulatorLessonModal #createOrEditSimulatorLessonModal (modalSave)="refetchEvents()">
        </createOrEditSimulatorLessonModal>
        <createOrEditEventModal #createOrEditEventModal (modalSave)="refetchEvents()"></createOrEditEventModal>
        <instructorLookupTableModal #instructorLookupTableModal (modalSave)="getNewInstructorId()">
        </instructorLookupTableModal>
        <studentLookupTableModal #studentLookupTableModal (modalSave)="getNewStudentId()"></studentLookupTableModal>

        <schedulerFilterModal #schedulerFilterModal (modalSave)="filterModalSaved()">
        </schedulerFilterModal>
    </div>